<form id="frm_xxx" name="frm_xxx" action="" enctype="multipart/form-data" class="form form-details">
  <input type="hidden" id="success_pop_msg" name="success_pop_msg" value="<{$success_pop_msg}>">
  <input type="hidden" id="error_pop_msg" name="error_pop_msg" value="<{$error_pop_msg}>">
  <div id="errorshow" style="display:none"></div>
  <div id="successshow" style="display:none"></div>
  <input type="hidden" name="id" value=<{$xxx->getId()}>>
  <h2 class="title-form"><{if $xxx->getId()}>Edit<{else}>New<{/if}> Xxx</h2>
  <div class="box-inside">
    <div class="form-hold">
      <label class="form-label">Name *</label>
      <input type="text" name="name" class="in-large" value="<{$xxx->getName()}>">
    </div>
    <{if $xxx->getId()}>
      <div class="form-hold">
        <label class="form-label">Last Updated</label>
        <input type="text" class="in-med" value="<{$xxx->getUpdated()}>" disabled>
      </div>
      <div class="form-hold">
        <label class="form-label">Created</label>
        <input type="text" class="in-med" value="<{$xxx->getCreated()}>" disabled>
      </div>
    <{/if}>
  </div>
  <br>
  <div class="box-inside">
    <div class="form-hold">
      <input type="button" onclick="DestroyDialog('pop_window');" class="button action-btn-3 left" value="Cancel">
      <a href="#" class="action-btn-1 right primary-btn" onclick="getXxxs('<{$xxx->getId()}>', 'save')">Save</a>
    </div>
  </div>
</form>
