<div class="dialog hide dialog-delete-xxx" title="Delete"><p>Are you sure to delete this xxx?</p></div>
<div class="form-heading">
    <div class="back_list right" id="updater">
        <ul>
            <li><a class="action-btn-3 primary-btn" onclick="getXxxs(0, 'edit');" href="#">Add Xxx</a></li>
        </ul>
    </div>
    <h2 class="title-form">Xxxs</h2>
    <div id="error_show" class="hide"></div>
    <div id="success_show" class="hide"></div>
</div>

<form id="frm_xxxs_search" name="frm_xxxs_search" action="" class="form form-search">
    <input type="hidden" id="success_msg" name="success_msg" value="<{$success_msg}>" />
    <input type="hidden" id="error_msg" name="error_msg" value="<{$error_msg}>" />
    <div id="error_show" style="display:none"></div>
    <div id="success_show" style="display:none"></div>
    <div class="table-title">
        <div class="t-col-1">
            Name
        </div>
    </div>

    <div class="table-grid-container">
        <{if !empty($xxxs)}>
            <div class="row-content">
                <{foreach from=$xxxs item='xxx'}>
                <div class="row-hold">
                    <div class="t-col-fixed">
                        <{$xxx->getName()}>
                        <{if $xxx->getId()}>
                        <div id="link_<{$xxx->getId}>">
                            <ul class="label-link">
                                <li>
                                    <a href="#" onclick="getXxxs(<{$xxx->getId()}>, 'edit');">Edit</a>
                                </li>
                                <li><span>|</span></li>
                                <li>
                                    <a href="#" onclick="deleteXxx(<{$xxx->getId()}>);">Delete</a>
                                </li>
                            </ul>
                        </div>
                        <{/if}>
                    </div>
                </div>
                <{/foreach}>
            </div>
        <{/if}>
        <{if empty($xxxs)}>
            <div class="row-hold">
                <div class="t-col-1">
                    <label class="filter-label">No records found.</label>
                </div>
            </div>
        <{/if}>
    </div>
</form>