<{include file="`$modules_path`/xxx/templates/script.html"}>
<div id="pop_window" class="hide">
    <img alt="loader" src="modules/layout/templates/template_images/loader.gif"/>
</div>
<div id="content-container" class="theme-interactions module-xxx">
    <div id="sliding-container">
        <div id="slide-panel">
            <div class="content" id="top_help">
                <!--end of each-column-->
            </div><!--end of content-->
        </div><!--end of slide-panel-->
        <{*
        <div class="btn-slide-container slide-active"><a class="btn-slide slide-active" title="Get some quick help"
                                                         onclick="showHelp()" href="#">Quick Help</a><a
                id="show_welcome" title="show module overview" class="show-overview">&nbsp;</a></div>
        *}>
    </div><!--end of sliding-container-->
    <!-- for help section display -->
    <input type="hidden" value="" id="syshelpcat_name" name="syshelpcat_name">
    <!-- for help section display -->
    <!-- MODULES GENERALLY START HERE-->
    <div class="breadcrumb">
        <ul>
            <li><a href="index.php" title="Dashboard:Home"><img alt="Back to dashboard"
                                                                src="modules/layout/templates/template_images/home-icon.png"
                                                                height="9" width="11"></a></li>
            <li><span>&nbsp;/&nbsp;</span></li>
            <li><a href="index.php"><{$smarty.session.centre_name}></a></li>
            <li><span>&nbsp;/&nbsp;</span></li>
            <li><a href="index.php?action=admin_xxx">XXX Administration</a></li>
        </ul>
    </div>
    <!-- Main holder for module, consistent accross all modules-->
    <div id="admin-dashboard-content">
        <!-- Left Sidebar Area-->
        <!-- Right Main Area-->
        <div id="admin-dashboard-container-full">
            <!-- BLUE WELCOME BOX START-->
            <div class="box welcome welcome-box" id="dashboard_welcome_box">
                <div class="title">
                    <{*
                    <div class="icon"><img alt="" src="modules/layout/templates/template_images/info-icon.jpg"></div>
                    *}>
                    <{show_block module='modules' block='get_module_by_action' action='xxx'}>
                    <h2>
                        Welcome to <{if $module_result}><{$module_result->getName()}><{else}>XXX<{/if}>
                    </h2>
                    <a class="close-btn" id="welcome_close"></a></div>
                <div class="content">
                    <p class="text">This module allows you to enable/disable XXX templates and view template data</p>
                </div>
            </div>
            <div class="box-left">
                <div id="menu">
                    <div class="title">
                        <a>Manage Xxx</a>

                        <div class="module_action_dropdown right" id="help_actions"
                             onclick="initActionsMenu();intitTooltipMenu();"> Configure
                            <div class="hide">
                                <a href="#" onclick="getTests();">Manage xxx</a>
                                <a href="#" onclick="getConfig();">Manage Configuration</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="details" class="content">
                    <img alt="loader" src="modules/layout/templates/template_images/loader.gif"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript"
        src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1","packages":["corechart"]}]}'>
</script>
<script type="text/javascript" language="javascript">

    function getXxxs(id, action) {
        let args = xajax.getFormValues('frm_xxxs');
        if (action == 'edit') {
            $('#pop_window').dialog({modal: true, width: 650, height: 'auto', title: (id ? 'Edit': 'New') + ' Xxx', showHelp: true});
        }
        if (action == 'save') {
            args = xajax.getFormValues('frm_xxx');
        }
        xajax_prodcatalogue_xxxs(args, id, action)
    }

    function getConfig(form_name) {
        showPopup('Manage configuration', 'pop_window', false, 'config', '400');
        xajax_xxx_config('pop_window', xajax.getFormValues('frm_config_details'), null, form_name, null, null, null, 'initFormTabs();');
    }

    function fieldPopup(popup_title, popup_id, width) {
        if (typeof width == 'undefined') {
            var width = 600;
        }

        $("#" + popup_id).dialog({
            resizable: false,
            title: popup_title,
            width: width,
            modal: true,
            showHelp: true
        });

        showLoadingNew(popup_id);

        reCenterDialog(popup_id);
    }

    getXxx();
</script>
