<link rel="stylesheet" type="text/css" media="screen" href="modules/layout/templates/css/click_exp.css">
<link rel="stylesheet" type="text/css" media="screen" href="modules/layout/templates/css/datePicker.css">

<script src="modules/layout/templates/js/jquery.Jcrop.js"></script>
<link rel="stylesheet" type="text/css" href="modules/layout/templates/css/jquery.Jcrop.css" />

<script type="text/javascript">
    <{include file="`$modules_path`/blogs/templates/ajaxfileupload.js"}>
    <{include file="`$modules_path`/layout/templates/js/jquery.datePicker.js"}>

    function showPopup(popup_title,popup_id,popup_fn,width){
        $( "#"+popup_id ).dialog({
            resizable: false,
            resize: function(){$( "#"+popup_id ).dialog( "option", "position", "center");},
            title: popup_title,
            width: width,
            modal: true,
            showHelp: true

        });
        reCenterDialog(popup_id);
        eval(popup_fn);
    }

    function datepicker(id)
    {
        Date.format = 'dd-mm-yyyy';
        $('#'+id).datePicker({startDate:'01-01-1970'});
    }

    function initOptionsTab()
    {
        initFormTabs();
    }

    function showLoadingNew(element_id)
    {
        $('#'+element_id).html('<img alt="loader..." src="modules/layout/templates/template_images/loader.gif">');
    }

    //Popup msg show
    function initFormTabsNew(){
        if(jQuery.trim($("#success_msg_new").val())!='')
        {
            showSuccess("#success_show_new",$("#success_msg_new").val());
        }
        else if(jQuery.trim($("#error_msg_new").val())!='')
        {
            showError("#error_show_new",$("#error_msg_new").val());
        }
    }

    function initPermalinkDetailsTab()
    {
        initFormTabs();
        $('#set_parent').click(function(e){
            e.preventDefault();
            setParentMeta();
        })

        $('#set_root').click(function(e){
            e.preventDefault();
            setRootMeta();
        })

    }

    function initPublishTabNew()
    {
        $('#type_publish').iToggle({easing: 'easeOutExpo',
            onClickOn: function(){
                var object_id=$("#object_id").val();
                $(this).next('input').attr("checked",true);
                $(this).next('input').change();
            },
            onClickOff: function(){
                var object_id=$("#object_id").val();
                $(this).next('input').attr("checked",false);
                $(this).next('input').change();
            }
        });
    }


    function initListTab()
    {
        initFormTabs();
    }

    function initAuthorityTab()
    {
        initFormTabs();
    }

    function initAuthorityShow()
    {
        $('#search-filter-user').slideDown('slow');
        $('#open-user').slideUp('slow');
    }

    function initAuthorityHide()
    {
        $('#search-filter-user').slideUp('slow');
        $('#open-user').slideDown('slow');
    }

    function select_users_show(popup)
    {
        if (popup) {
            $('#pop_window').find('#choose_user').show('blind');
            $('#pop_window').find('#srch_users_hide').show('blind');
            $('#pop_window').find('#srch_users_details').hide('blind');
        } else {
            $('#choose_user').show('blind');
            $('#srch_users_hide').show('blind');
            $('#srch_users_details').hide('blind');
        }
    }

    function select_users_hide(popup)
    {
        if (popup) {
            $('#pop_window').find('#choose_user').hide('blind');
            $('#pop_window').find('#srch_users_hide').hide('blind');
            $('#pop_window').find('#srch_users_details').show('blind');
        } else {
            $('#choose_user').hide('blind');
            $('#srch_users_hide').hide('blind');
            $('#srch_users_details').show('blind');
        }
    }

    function initUserShow(div)
    {
        $('#search-filter-users').slideDown('slow');
        $('#open-users').slideUp('slow');
    }

    function initUserHide()
    {
        $('#search-filter-users').slideUp('slow');
        $('#open-users').slideDown('slow');
    }

    function initAuthorityGroupShow()
    {
        $('#search-filter-group').slideDown('slow');
        $('#open-group').slideUp('slow');
    }

    function initAuthorityGroupHide()
    {
        $('#search-filter-group').slideUp('slow');
        $('#open-group').slideDown('slow');
    }

    function toggleTypeRow(){
        if ( document.getElementById( 'expire' ).checked ) {
            $("#typelink").slideDown("slow");
            $("#typetime").slideUp("slow");
        } else {
            $("#typelink").slideUp("slow");
            $("#typetime").slideDown("slow");
        }
    }

    function initPermanentTab()
    {
        initFormTabs();
        $('#expire').iToggle({easing: 'easeOutExpo',
            onClickOn: function(){
                var object_id=$("#expire").val();
                $(this).next('input').attr("checked",true);
                $(this).next('input').change();
                toggleTypeRow();
            },
            onClickOff: function(){
                var object_id=$("#expire").val();
                $(this).next('input').attr("checked",false);
                $(this).next('input').change();
                toggleTypeRow();
            }
        });
    }

    function initDetailsTab()
    {
        initFormTabs();
        $("#content_editor").html('');
        load_editor('content');

        $('#set_parent').click(function(e){
            e.preventDefault();
            setParentMeta();
        })
        $('#set_root').click(function(e){
            e.preventDefault();
            setRootMeta();
        })


    }

    function initBeforeRequest()
    {
        $("#success_msg").val('');
        $("#error_msg").val('');
        save_editor('content');
    }

    function initBlogsGroupAction(action)
    {
        if (action.length < 1)
            return;


        if (action == 'remove') {
            var listActionDialog = $('div#listActionDialog');

            if (listActionDialog.length < 1) {
                listActionDialog = $('<div id="listActionDialog"></div>').hide();
                $('body').append(listActionDialog);

                listActionDialog = $('div#listActionDialog');
            }

            listActionDialog.html('<p>Delete the selected items? <br><span style="font-size:smaller">(All categories,posts will be removed)</span></p>');

            listActionDialog.dialog({
                title: 'Group Action',
                resizable: false,
                height:170,
                modal: true,
                buttons: {
                    "Delete ": function() {
                        getBlogs('','list', 'list_action');
                        $(this).dialog("destroy");
                    },
                    Cancel: function() {
                        $(this).dialog("destroy");

                    }
                }
            });
            return;
        }
        getBlogs('','list', 'list_action');
    }

    function showLoading(element_id)
    {
        $('#'+element_id).html('<img alt="loader..." src="modules/layout/templates/template_images/small_loader.gif">');
    }

    function viewModal(divid){
        $( "#dialog" ).dialog( "destroy" );
        $( "#"+divid ).dialog({
            modal: true
        });
    }


    function showInAction(divid)
    {
        $( "#dialog" ).dialog( "destroy" );
        $( "#"+divid ).dialog({
            modal: true,
            closeOnEscape: false,

            open:function(){$('.ui-dialog-titlebar-close').hide()}
        });

    }



    function initCategoryDelete(logID,act_req,start)
    {

        $('#del_info').html('');
        $( ".dialog" ).dialog({
            resizable: false,
            height:140,
            modal: true,
            buttons: {
                "Delete ": function() {

                    getCategories(logID,'list',act_req,start);
                    $(this).dialog("destroy");
                },
                Cancel: function() {

                    $(this).dialog("destroy");

                }
            }
        });

    }

    function initPostDelete(logID,act_form,act_req,start)
    {

        $('#del_info').html('');
        $( ".dialog" ).dialog({
            resizable: false,
            height:140,
            modal: true,
            buttons: {
                "Delete ": function() {

                    getBlogPosts(logID,act_form,act_req,start);
                    $(this).dialog("destroy");
                },
                Cancel: function() {
                    $(this).dialog("destroy");

                }
            }
        });

    }

    function initCommentDelete(logID,act_form,act_req,start)
    {

        $('#del_info').html('');
        $( ".dialog" ).dialog({
            resizable: false,
            height:140,
            modal: true,
            buttons: {
                "Delete ": function() {

                    getBlogComments(logID,act_form,act_req,start);
                    $(this).dialog("destroy");
                },
                Cancel: function() {
                    $(this).dialog("destroy");

                }
            }
        });

    }

    function initTagDelete(logID,act_form,act_req,start)
    {

        $('#del_info').html('');
        $( ".dialog" ).dialog({
            resizable: false,
            height:140,
            modal: true,
            buttons: {
                "Delete ": function() {

                    getBlogTags(logID,act_form,act_req,start);
                    $(this).dialog("destroy");
                },
                Cancel: function() {
                    $(this).dialog("destroy");

                }
            }
        });

    }


    function initBlogImageDelete(bid)
    {
        $('#del_info').html('');
        $( ".dialog" ).dialog({
            resizable: false,
            height:140,
            modal: true,
            buttons: {
                "Delete ": function() {
                    getBlogDetails(bid,'remove-image');
                    $(this).dialog("destroy");
                },
                Cancel: function() {
                    $('#del_info').html('');
                    $(this).dialog("destroy");

                }
            }
        });
    }

    function ajaxUploadFile(button_id,url,field_id,fileToUpload)
    {
        if (fileToUpload == null || fileToUpload == '')
            fileToUpload = 'fileToUpload';

        $.ajaxFileUpload
        (
                {
                    url:url,
                    secureuri:false,
                    fileElementId: fileToUpload,
                    dataType: 'json',
                    success: function (data, status)
                    {
                        if(typeof(data.error) != 'undefined')
                        {
                            if(data.error != '')
                            {
                                if(data.error.length > 0  && data.error != 'No file was uploaded.')
                                    alert(data.error);
                                else
                                {
                                    $("#"+button_id).click();
                                    return true;
                                }
                            }else
                            {
                                if(data.file == '' && $('#'+field_id).val() =="")
                                    alert('Upload Image!');
                                else
                                {

                                    if(data.file != '')
                                    {
                                        $('#'+field_id).val(data.file);


                                        $("#"+button_id).click();
                                    }
                                }

                            }
                        }
                    },
                    error: function (data, status, e)
                    {
                        alert(e);
                    }
                }
        )
        return true;
    }

    function ShowDialog(popname,width1,height1,title1)
    {
        $( "#"+popname).dialog({
            modal: true,
            width:width1,
            title:title1,
            showHelp:true
        });
    }

    //Destroy Popup window
    function DestroyDialog(popname)
    {
        $("#"+popname).dialog("destroy");
    }

    function string_count(vals,ski_val,join_url)
    {
        var total_len=0;

        if(vals==''){
            vals= $('#content_vall').val();
        }
        var length_cnt=vals.length;

        if(ski_val!='')
        {

            var isChecked = $('#urlshare').attr('checked')?true:false;

            if(isChecked)
            {
                var url_value=$('#shr_url_val').val();
                if(url_value!='')
                    var url_value_cnt=url_value.length;
                else
                    var url_value_cnt=0;

                var total_len = parseInt(url_value_cnt) + parseInt(length_cnt);

            }
            else
                total_len=length_cnt;
        }
        else
            total_len=length_cnt;

        var act_val=140-total_len;
        if(parseInt(act_val) >= 0)
            $('#count_vv').html(act_val);
        else
            $('#count_vv').html("&nbsp;<img alt='loader' title='Message will be truncated when sent to twitter' src='modules/layout/templates/template_images/tt_error.png' width='30'/>&nbsp;"+act_val);

    }

    function uncheck_url()
    {
        document.getElementById("url_share").checked = false;
    }

    function updatetagval(val,vari)
    {
        var vari = '#'+vari;
        var ex_tag_val=$(vari).val();
        if(ex_tag_val!='')
        {
            var extag_arr=ex_tag_val.split(",");
            extag_arr.splice(extag_arr.indexOf(val), 1);
            var imp_val=extag_arr.join(",");
            $(vari).val(imp_val);
        }
    }

    function initFormTabsBoth(){
        if(jQuery.trim($("#success_pop_msg").val())!='')
        {
            showSuccess("#successshow",$("#success_pop_msg").val());
        }
        if(jQuery.trim($("#error_pop_msg").val())!='')
        {
            showError("#errorshow",$("#error_pop_msg").val());
        }

        $('.show-search').click(function(){
            $(this).prev('div').slideDown();
            $(this).hide('slow');
        });
        $('.hide-search').click(function(){
            $(this).parent().parent().slideUp();
            $(this).parent().parent().next(".show-search").show();
        })


        intitTooltip();

    }

    function change_select()
    {
        $('#action_req option').eq(0).attr('selected', 'selected');
    }

    /**
     * File uploader for multiple files
     *
     * Initially intended to support ajax file uploads for blog post image
     * and support for multiple file customfields
     *
     * The object will create a queue of files to upload, then send the queue
     * one by one. If there are no more files remaining in the queue, the
     * callback will be called to wrap up the process
     *
     * @type fileUploader
     */
    var fileUploader = {
        fileIDs     : new Array(),

        _callback   : null,
        callback    : function (callbackFunction) {
            if (typeof callbackFunction == 'function') {
                this._callback = callbackFunction;
            }
        },

        addQueue   : function(fileId, url, target_field) {
            this.fileIDs.push({
                'id'     : fileId,
                'url'    : url,
                'target' : target_field
            });
        },

        uploadQueue : function() {
            var curQueue = this.fileIDs.pop();

            if (typeof curQueue != 'undefined') {
                // upload file
                $.ajaxFileUpload({
                    url             : curQueue.url,
                    secureuri       : false,
                    fileElementId   : curQueue.id,
                    dataType        : 'json',
                    success         : function (data, status) {
                        if (typeof data.error != 'undefined') {
                            if(data.error != '') {
                                if(data.error.length > 0  && data.error != 'No file was uploaded.') {
                                    alert(data.error);
                                }
                            } else {
                                if (data.file != '') {
                                    $('#' + curQueue.target).val(data.file);
                                }
                            }
                        }
                        fileUploader.uploadQueue();
                    },
                    error           : function (data, status, e) {
                        alert(e);
                    }
                });
            } else {
                if (typeof this._callback == 'function') {
                    this._callback();
                }
            }
        }
    };
</script>
